$maindiv: #3136de;
$dashboardBGcolor: #fff;
$text_color_white: #fff;
$back_grouncolor_white: #e5e5e5;
$backGround_white: #fff;
$user_box_active: greenyellow;
$loginBgcolor: #fff;
// OUR CUSTOM & HELPER SCSS *************
$headerBgcolor: #1c3fd4;
$heading_text: #fff;
$text_color: #fff;
$home_section: rgb(216, 15, 15);
$Heading_fontsize: 30px;
$home_about: rgb(150, 33, 245);
$btn_primary: #007bff;
$btn_primary_hover: #0056b3;
$btn_success: #28a745;
$btn_success_hover: #009622;
$btn_danger: #dc3545;
$btn_danger_hover: #a00111;
$text_color_bleck: #000;
$text-colo_red: #ff7373;
